.upload__image-wrapper{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.upload__image-uploadBtn{
    position: relative;
    width: 200px;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #1E90FF;
    cursor: pointer;
}
.upload__image-uploadBtn:hover{
    border-color: #1E5EDE;
}
.upload__image-uploadBtn img{


    width: 40px;
    height: 40px;
    opacity: .7;
    margin-bottom: 15px;
}
.upload__image-container{
    display: flex;
}
.upload__image-item{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
}
.upload__image-item img{
    position: absolute;
    width: 100%;
    height: 100%;


}

.image-item__btn-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.image-item__btn-wrapper span{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 10px;
}
.image-item__btn-wrapper span img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.update__image-item{
    width: 200px;
    font-size: 14px;
    line-height: 24px;
    margin-left: 25px;
    text-decoration-line: underline;
    align-self: flex-end;
    color: #1E90FF;
    cursor: pointer;

}
















.upload__imageArray-wrapper{
    width: 777px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.upload__imageArray-uploadBtn-container{
    position: relative;
    width: 100%;
    min-height: 90px;
    border:  1px dashed #1E90FF;
    cursor: pointer;
    font-size: 16px;
    color: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    padding: 25px 50px;
}
.upload__imageArray-uploadBtn-container:hover{
    border-color: #0070E1;
}
.upload__imageArray-uploadBtn{
    border: 1px solid #FFC822;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 24px;
    color: #353535;
    font-size: 16px;

}
.upload__imageArray-container{
    display: flex;
}
.upload__imageArray-item{
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 15px 15px 0;
}
.upload__imageArray-item img{
    position: absolute;
    width: 100%;
    height: 100%;


}

.image-itemArray__btn-wrapper{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
}
.image-itemArray__btn-wrapper span{
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    top: 5px;
    right: 5px;
}
.image-itemArray__btn-wrapper span img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.upload__image-remove-allBtn{
    border: 1px solid #FFC822;
    border-radius: 5px;
    padding: 8px 12px;
    align-self: flex-start;
    color: #353535;
    font-size: 12px;
    cursor: pointer;
}

.upload__imageArray-loaded-container{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.upload__imageArray-uploadBtn-loaded{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC822;
    border-radius: 5px;
    margin: 15px 15px 15px 0;
    cursor: pointer;
}