.createOrEditContainer{

    display: flex;
    flex-direction: column;
    width: 1300px;
}
.createOrEditContainer__block{
    width: 790px;
    display: flex;
    justify-content: space-between;
}
.createOrEditContainer__title{
    margin-bottom: 80px;
}
.createOrEditContainer__fields{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.createOrEditField{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    position: relative;
    width: 500px;
    margin-right: 15px;
}
.createOrEditField label{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #555555;
}
.createOrEditField textarea{
    padding: 30px!important;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.createOrEditField input,
.createOrEditField select,
.createOrEditField textarea
{
width: 100%;
    border: 1px solid #929292;
    border-radius: 5px;
    padding: 17px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
}
.createOrEditContainer__btns{
    display: flex;
    margin-top: 25px;
}
.required_field{
    color: #EB4134;
}
.formTitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    margin: 45px 0 25px 0;
    color: #000000;
}

.radio_group_field-container{
    margin: 20px 0;
    display: flex;
    align-items: center;
    width: 500px;
}
.radio_group_field{
    display: flex;
    align-items: center;
    margin-right: 55px;
    min-width: 150px;
}
.radio_group_field label{

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #3F3F3F;

    margin-top: 12px;
}
.radio_group_field input{
    margin-right: 10px;
    width: auto!important;
}
.formErrorMessage{
    position: absolute;
    right: 0;
    bottom: -18px;
    font-size: 11px;
    font-weight: lighter;

    color: #EB4134;

}
.formErrorMessage-relative{
    font-size: 11px;
    font-weight: lighter;

    color: #EB4134;
}

